<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- contact32:04-->
<head>
  
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Contact || Hogar Luxe Gifts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="description" content="Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
        <meta name="keywords" content="Custom branded gifts, Corporate gift solutions, Personalized branding items, Premium promotional products, Luxury custom merchandise, Business branding solutions, Unique brand merchandise, Customized corporate gifts, High-end promotional products, Personalized luxury gifts">
        <meta name="author" content="Benson Michael Owen">
        <meta name="language" content="en">
        <meta name="theme-color" content="#ffffff"> <!-- (For Chrome Mobile UI color) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
        <!-- Material Design Iconic Font-V2.2.0 -->
      
        <meta property="og:title" content="Contact | Hogar Luxe Gifts">
      <meta property="og:type" content="website"> <!-- Can be 'article', 'video', 'profile', etc. -->
      <meta property="og:url" content="https://www.hluxegift.com/contact">
      <meta property="og:image" content="https://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png">
      <meta property="og:image:alt" content="Contact | Hogar luxe gifts and branding services">
      <meta property="og:site_name" content="hluxegift">
      <meta property="og:locale" content="en_US"> <!-- Adjust for different languages -->
        <meta property="og:description" content="Contact | Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
        <meta name="twitter:card" content="summary_large_image"> <!-- Can be 'summary', 'summary_large_image', 'app', or 'player' -->
      
        <meta name="twitter:title" content="Hogar Luxe Gifts">
      <meta name="twitter:description" content="Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
      
      <meta name="twitter:image" content="https://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png">
      <meta name="twitter:image:alt" content="Hogar luxe gifts and branding services">
      <meta name="twitter:site" content="@hluxegifts">
      <meta name="twitter:creator" content="@hluxegifts">
      <link rel="canonical" href="https://www.hluxegift.com">
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Hogar Luxe Gifts",
          "description": "Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.",
          "url": "https://www.hluxegift.com",
          "image": "hhttps://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png"
        }
        </script>
        <!--/metatextblock-->
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="/">
        <link rel="dns-prefetch" href="/">
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/favicon.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/image/favicon.png media="(prefers-color-scheme: dark)" />
        <link rel="apple-touch-icon" type="image/png" href="/images/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <!-- Material Design Iconic Font-V2.2.0 -->
        <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="/css/fontawesome-stars.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="/css/slick.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="/css/venobox.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="/css/nice-select.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="/css/helper.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Modernizr js -->
        <script src="/js/vendor/modernizr-2.8.3.min.js?v=<%= Date.now() %>"></script>
    </head>
    <body>
        <%- include("loader") %>

    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <%- include("header.ejs") %>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->     
            <!-- Begin Contact Main Page Area -->
            <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
                <div class="container mb-60">
                    <div id="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7927.003673322074!2d3.368867053906247!3d6.5843665999999965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b926037deef9b%3A0x33afb796de063bf6!2sODUA%20SHOPPING%20CENTRE!5e0!3m2!1sen!2sng!4v1736783183656!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                            <div class="contact-page-side-content">
                                <h3 class="contact-page-title">Contact Us</h3>
                                <p class="contact-page-message mb-25">Reach us Via any of our contact channels or visit our physical office</p>
                                <div class="single-contact-block">
                                    <h4><i class="fa fa-fax"></i> Address</h4>
                                    <p>Suite 2-5, Block 20, O’dua Shopping center, Ikorodu-Ososun Road, Lagos</p>
                                </div>
                                <div class="single-contact-block">
                                    <h4><i class="fa fa-phone"></i> Phone & WhatsApp</h4>
                                    <p>Mobile: <a href="https://wa.me/+2349090000732?text=Hi,%20I'm%20contacting%20you%20by%20clicking%20on%20the%20whatsapp%20button%20on%20your%20website. %20https://www.hluxegift.com%20My%20Name%20is%20..." target="_blank">(+234) 909 0000 732</a></p>
                                    <!-- <p>Hotline: 1009 678 456</p> -->
                                </div>
                                <div class="single-contact-block last-child">
                                    <h4><i class="fa fa-envelope-o"></i> Email</h4>
                                    <p>info@www.hluxegift.com</p>
                                    <!-- <p>support@hastech.company</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                            <div class="contact-form-content pt-sm-55 pt-xs-55">
                                <h3 class="contact-page-title">Tell Us Your Message</h3>
                                <div class="contact-form">
                                    <form  id="contact-form"  action="https://formspree.io/f/xnnnkknq"
                                    method="POST">
                                        <div class="form-group">
                                            <label>Your Name <span class="required">*</span></label>
                                            <input type="text" name="customerName" id="customername" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Your Email <span class="required">*</span></label>
                                            <input type="email" name="customerEmail" id="customerEmail" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <input type="text" name="contactSubject" id="contactSubject">
                                        </div>
                                        <div class="form-group mb-30">
                                            <label>Your Message</label>
                                            <textarea name="message" id="contactMessage" ></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" value="submit" id="submit" class="li-btn-3" name="submit">send</button>
                                        </div>
                                    </form>
                                </div>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Main Page Area End Here -->
            <!-- Begin Footer Area -->
            <%- include("footer.ejs")  %>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="/js/vendor/jquery-1.12.4.min.js?v=<%= Date.now() %>"></script>
        <!-- Popper js -->
        <script src="/js/vendor/popper.min.js?v=<%= Date.now() %>"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="/js/bootstrap.min.js?v=<%= Date.now() %>"></script>
        <!-- Ajax Mail js -->
        <script src="/js/ajax-mail.js?v=<%= Date.now() %>"></script>
        <!-- Meanmenu js -->
        <script src="/js/jquery.meanmenu.min.js?v=<%= Date.now() %>"></script>
        <!-- Wow.min js -->
        <script src="/js/wow.min.js?v=<%= Date.now() %>"></script>
        <!-- Slick Carousel js -->
        <script src="/js/slick.min.js?v=<%= Date.now() %>"></script>
        <!-- Owl Carousel-2 js -->
        <script src="/js/owl.carousel.min.js?v=<%= Date.now() %>"></script>
        <!-- Magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js?v=<%= Date.now() %>"></script>
        <!-- Isotope js -->
        <script src="/js/isotope.pkgd.min.js?v=<%= Date.now() %>"></script>
        <!-- Imagesloaded js -->
        <script src="/js/imagesloaded.pkgd.min.js?v=<%= Date.now() %>"></script>
        <!-- Mixitup js -->
        <script src="/js/jquery.mixitup.min.js?v=<%= Date.now() %>"></script>
        <!-- Countdown -->
        <script src="/js/jquery.countdown.min.js?v=<%= Date.now() %>"></script>
        <!-- Counterup -->
        <script src="/js/jquery.counterup.min.js?v=<%= Date.now() %>"></script>
        <!-- Waypoints -->
        <script src="/js/waypoints.min.js?v=<%= Date.now() %>"></script>
        <!-- Barrating -->
        <script src="/js/jquery.barrating.min.js?v=<%= Date.now() %>"></script>
        <!-- Jquery-ui -->
        <script src="/js/jquery-ui.min.js?v=<%= Date.now() %>"></script>
        <!-- Venobox -->
        <script src="/js/venobox.min.js?v=<%= Date.now() %>"></script>
        <!-- Nice Select js -->
        <script src="/js/jquery.nice-select.min.js?v=<%= Date.now() %>"></script>
        <!-- ScrollUp js -->
        <script src="/js/scrollUp.min.js?v=<%= Date.now() %>"></script>
        <!-- Main/Activator js -->
        <script src="/js/main.js?v=<%= Date.now() %>"></script>
            <!-- Google Map -->
             
            <!-- <script src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.22&amp;key=AIzaSyChs2QWiAhnzz0a4OEhzqCXwx_qA9ST_lE"></script>
            
            <script>
                // When the window has finished loading create our google map below
                google.maps.event.addDomListener(window, 'load', init);
                function init() {
                    // Basic options for a simple Google Map
                    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                    var mapOptions = {
                        // How zoomed in you want the map to start at (always required)
                        zoom: 12,
                        scrollwheel: false,
                        // The latitude and longitude to center the map (always required)
                        center: new google.maps.LatLng(40.740610, -73.935242), // New York
                        // How you would like to style the map. 
                        // This is where you would paste any style found on
                        styles: [{
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#e9e9e9"
                                    },
                                    {
                                        "lightness": 17
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#f5f5f5"
                                    },
                                    {
                                        "lightness": 20
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                        "color": "#ffffff"
                                    },
                                    {
                                        "lightness": 17
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.stroke",
                                "stylers": [{
                                        "color": "#ffffff"
                                    },
                                    {
                                        "lightness": 29
                                    },
                                    {
                                        "weight": 0.2
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#ffffff"
                                    },
                                    {
                                        "lightness": 18
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#ffffff"
                                    },
                                    {
                                        "lightness": 16
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#f5f5f5"
                                    },
                                    {
                                        "lightness": 21
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#dedede"
                                    },
                                    {
                                        "lightness": 21
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.stroke",
                                "stylers": [{
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#ffffff"
                                    },
                                    {
                                        "lightness": 16
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.fill",
                                "stylers": [{
                                        "saturation": 36
                                    },
                                    {
                                        "color": "#333333"
                                    },
                                    {
                                        "lightness": 40
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.icon",
                                "stylers": [{
                                    "visibility": "off"
                                }]
                            },
                            {
                                "featureType": "transit",
                                "elementType": "geometry",
                                "stylers": [{
                                        "color": "#f2f2f2"
                                    },
                                    {
                                        "lightness": 19
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                        "color": "#fefefe"
                                    },
                                    {
                                        "lightness": 20
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "geometry.stroke",
                                "stylers": [{
                                        "color": "#fefefe"
                                    },
                                    {
                                        "lightness": 17
                                    },
                                    {
                                        "weight": 1.2
                                    }
                                ]
                            }
                        ]
                    };

                    // Get the HTML DOM element that will contain your map 
                    // We are using a div with id="map" seen below in the <body>
                    var mapElement = document.getElementById('google-map');

                    // Create the Google Map using our element and options defined above
                    var map = new google.maps.Map(mapElement, mapOptions);

                    // Let's also add a marker while we're at it
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(40.740610, -73.935242),
                        map: map,
                        title: 'Hogar Luxe',
                        animation: google.maps.Animation.BOUNCE
                    });
                }
            </script> -->
    </body>

<!-- contact32:04-->
</html>
