<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- shop-3-column31:48-->
<head>
      
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hogar Luxe Gifts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="description" content="Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
        <meta name="keywords" content="Custom branded gifts, Corporate gift solutions, Personalized branding items, Premium promotional products, Luxury custom merchandise, Business branding solutions, Unique brand merchandise, Customized corporate gifts, High-end promotional products, Personalized luxury gifts">
        <meta name="author" content="Benson Michael Owen">
        <meta name="language" content="en">
        <meta name="theme-color" content="#ffffff"> <!-- (For Chrome Mobile UI color) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
        <!-- Material Design Iconic Font-V2.2.0 -->
      
        <meta property="og:title" content="Home | Hogar Luxe Gifts">
      <meta property="og:type" content="website"> <!-- Can be 'article', 'video', 'profile', etc. -->
      <meta property="og:url" content="https://www.hluxegift.com/home">
      <meta property="og:image" content="https://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png">
      <meta property="og:image:alt" content="Hogar luxe gifts and branding services">
      <meta property="og:site_name" content="hluxegift">
      <meta property="og:locale" content="en_US"> <!-- Adjust for different languages -->
        <meta property="og:description" content="Home | Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
        <meta name="twitter:card" content="summary_large_image"> <!-- Can be 'summary', 'summary_large_image', 'app', or 'player' -->
      
        <meta name="twitter:title" content="Home | Hogar Luxe Gifts">
      <meta name="twitter:description" content="Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
      
      <meta name="twitter:image" content="https://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png">
      <meta name="twitter:image:alt" content="Hogar luxe gifts and branding services">
      <meta name="twitter:site" content="@hluxegifts">
      <meta name="twitter:creator" content="@hluxegifts">
      <link rel="canonical" href="https://www.hluxegift.com">
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Home | Hogar Luxe Gifts",
          "description": "Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.",
          "url": "https://www.hluxegift.com",
          "image": "hhttps://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png"
        }
        </script>
        <!--/metatextblock-->
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="/">
        <link rel="dns-prefetch" href="/">
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/favicon.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/image/favicon.png media="(prefers-color-scheme: dark)" />
        <link rel="apple-touch-icon" type="image/png" href="/images/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon.png"> <!-- Assets -->
        <!-- Favicon -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
        <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="/css/fontawesome-stars.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="/css/slick.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="/css/venobox.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="/css/nice-select.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="/css/helper.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Modernizr js -->
        <!-- <script src="/js/vendor/modernizr-2.8.3.min.js?v=<%= Date.now() %>"></script> -->
    </head>
    <body>
        <%- include("loader") %>

    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
          <%- include("header.ejs") %>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Products</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Li's Content Wraper Area -->
            <div class="content-wraper pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Li's Banner Area
                            <div class="single-banner shop-page-banner">
                                <a href="#">
                                    <img src="images/bg-banner/2.jpg" alt="Li's Static Banner">
                                </a>
                            </div> -->
                            <!-- Li's Banner Area End Here -->
                            <!-- shop-top-bar start -->
                            <div class="shop-top-bar mt-30">
                                <div class="shop-bar-inner">
                                    <div class="product-view-mode">
                                        <!-- shop-item-filter-list start -->
                                <h1 class="headerText">Buy. Brand. Gift.</h1>
                                        <!-- shop-item-filter-list end -->
                                    </div>
                                    <!-- <div class="toolbar-amount">
                                        <span>Showing 1 to 9 of 15</span>
                                    </div> -->
                                </div>
                                <!-- product-select-box start -->
                                <!-- <div class="product-select-box">
                                    <div class="product-short">
                                        <p>Sort By:</p>
                                        <select class="nice-select">
                                            <option value="trending">Relevance</option>
                                            <option value="sales">Name (A - Z)</option>
                                            <option value="sales">Name (Z - A)</option>
                                            <option value="rating">Price (Low &gt; High)</option>
                                            <option value="date">Rating (Lowest)</option>
                                            <option value="price-asc">Model (A - Z)</option>
                                            <option value="price-asc">Model (Z - A)</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- product-select-box end -->
                            </div>
                            <!-- shop-top-bar end -->
                            <!-- shop-products-wrapper start -->
                            <div class="shop-products-wrapper">
                                <div class="tab-content">
                                    <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                                        <div class="product-area shop-product-area">
                                            <%- include("alertMessage") %>
                                            <div class="row" id="productsContainer">
                                         
                                           
                                
                                         
                                            </div>
                                        </div>
                                    </div>
                               
                                    <div class="paginatoin-area">
                                        <div class="row" id="pagination">
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shop-products-wrapper end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Wraper Area End Here -->
            <!-- Begin Footer Area -->
          <%- include("footer.ejs")  %>
            <!-- Footer Area End Here -->
            <!-- Begin Quick View | Modal Area -->
        
            <!-- Quick View | Modal Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        jQuery-V1.12.4
        <script src="/js/vendor/jquery-1.12.4.min.js?v=<%= Date.now() %>"></script>
        <!-- Popper js -->
        <script src="/js/vendor/popper.min.js?v=<%= Date.now() %>"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="/js/bootstrap.min.js?v=<%= Date.now() %>"></script>
        <!-- Ajax Mail js -->
        <script src="/js/ajax-mail.js?v=<%= Date.now() %>"></script>
        <!-- Meanmenu js -->
        <script src="/js/jquery.meanmenu.min.js?v=<%= Date.now() %>"></script>
        <!-- Wow.min js -->
        <script src="/js/wow.min.js?v=<%= Date.now() %>"></script>
        <!-- Slick Carousel js -->
        <script src="/js/slick.min.js?v=<%= Date.now() %>"></script>
        <!-- Owl Carousel-2 js -->
        <script src="/js/owl.carousel.min.js?v=<%= Date.now() %>"></script>
        <!-- Magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js?v=<%= Date.now() %>"></script>
        <!-- Isotope js -->
        <script src="/js/isotope.pkgd.min.js?v=<%= Date.now() %>"></script>
        <!-- Imagesloaded js -->
        <script src="/js/imagesloaded.pkgd.min.js?v=<%= Date.now() %>"></script>
        <!-- Mixitup js -->
        <script src="/js/jquery.mixitup.min.js?v=<%= Date.now() %>"></script>
        <!-- Countdown -->
        <script src="/js/jquery.countdown.min.js?v=<%= Date.now() %>"></script>
        <!-- Counterup -->
        <script src="/js/jquery.counterup.min.js?v=<%= Date.now() %>"></script>
        <!-- Waypoints -->
        <script src="/js/waypoints.min.js?v=<%= Date.now() %>"></script>
        <!-- Barrating -->
        <script src="/js/jquery.barrating.min.js?v=<%= Date.now() %>"></script>
        <!-- Jquery-ui -->
        <script src="/js/jquery-ui.min.js?v=<%= Date.now() %>"></script>
        <!-- Venobox -->
        <script src="/js/venobox.min.js?v=<%= Date.now() %>"></script>
        <!-- Nice Select js -->
        <script src="/js/jquery.nice-select.min.js?v=<%= Date.now() %>"></script>
        <!-- ScrollUp js -->
        <script src="/js/scrollUp.min.js?v=<%= Date.now() %>"></script>
        <!-- Main/Activator js -->
        <script src="/js/main.js?v=<%= Date.now() %>"></script>
        <script type="module" src="/js/query/getAllProducts.js?v=<%= Date.now() %>"></script>
        <!-- <script type="module", src="/js/query/searchQuery.js?v=<%= Date.now() %>"></script> -->
    </body>

<!-- shop-3-column31:48-->
</html>
