<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- login-register31:27-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login Register || Hogar Luxe Gifts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
        <!-- Material Design Iconic Font-V2.2.0 -->
        <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="/css/fontawesome-stars.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="/css/slick.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="/css/venobox.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="/css/nice-select.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="/css/helper.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Modernizr js -->
        <script src="/js/vendor/modernizr-2.8.3.min.js?v=<%= Date.now() %>"></script>
    </head>
    <body>
        <%- include("loader") %>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <%- include("header.ejs") %>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Login Register</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Login Content Area -->
            <div class="page-section mb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                           
                            <!-- Login Form s-->
                            <form id="login-form" >
                                <div class="login-form">
                                    <h4 class="login-title">Login</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb-20">
                                            <label>Email Address*</label>
                                            <input class="mb-0" id="email" name="email type="email" placeholder="Email Address" required>
                                        </div>
                                        <div class="col-12 mb-20">
                                            <label>Password</label>
                                            <input class="mb-0" id="password" name="password" type="password" placeholder="Password" required>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                                <input type="checkbox" id="remember_me">
                                                <label for="remember_me">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                            <!-- <a href="#"> Forgotten pasward?</a> -->
                                        </div>
                                        <%-include("alertMessage") %>
                                        <div class="col-md-12">
                                            <button type="submit" class="register-button mt-0">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                         <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                            <form id="register-form">
                                <div class="login-form">
                                    <h4 class="login-title">Register</h4>
                                    <div class="row">
                                    
                                        <div class="col-md-12 mb-20">
                                            <label>Email Address*</label>
                                            <input class="mb-0" type="email" name="email" id="signupEmail" placeholder="Email Address">
                                        </div>
                                        <div class="col-md-6 mb-20">
                                            <label>Password</label>
                                            <input class="mb-0" type="password" id="pass1" placeholder="Password">
                                        </div>
                                        <div class="col-md-6 mb-20">
                                            <label>Confirm Password</label>
                                            <input class="mb-0" type="password" id="pass2" placeholder="Confirm Password">
                                        </div>
                                        <div class="col-12">
                                            <button class="register-button mt-0">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> 

                    </div>
                </div>
            </div>
            <!-- Login Content Area End Here -->
            <!-- Begin Footer Area -->
            <%- include("footer.ejs")  %>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="/js/vendor/jquery-1.12.4.min.js?v=<%= Date.now() %>"></script>
        <!-- Popper js -->
        <script src="/js/vendor/popper.min.js?v=<%= Date.now() %>"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="/js/bootstrap.min.js?v=<%= Date.now() %>"></script>
        <!-- Ajax Mail js -->
        <script src="/js/ajax-mail.js?v=<%= Date.now() %>"></script>
        <!-- Meanmenu js -->
        <script src="/js/jquery.meanmenu.min.js?v=<%= Date.now() %>"></script>
        <!-- Wow.min js -->
        <script src="/js/wow.min.js?v=<%= Date.now() %>"></script>
        <!-- Slick Carousel js -->
        <script src="/js/slick.min.js?v=<%= Date.now() %>"></script>
        <!-- Owl Carousel-2 js -->
        <script src="/js/owl.carousel.min.js?v=<%= Date.now() %>"></script>
        <!-- Magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js?v=<%= Date.now() %>"></script>
        <!-- Isotope js -->
        <script src="/js/isotope.pkgd.min.js?v=<%= Date.now() %>"></script>
        <!-- Imagesloaded js -->
        <script src="/js/imagesloaded.pkgd.min.js?v=<%= Date.now() %>"></script>
        <!-- Mixitup js -->
        <script src="/js/jquery.mixitup.min.js?v=<%= Date.now() %>"></script>
        <!-- Countdown -->
        <script src="/js/jquery.countdown.min.js?v=<%= Date.now() %>"></script>
        <!-- Counterup -->
        <script src="/js/jquery.counterup.min.js?v=<%= Date.now() %>"></script>
        <!-- Waypoints -->
        <script src="/js/waypoints.min.js?v=<%= Date.now() %>"></script>
        <!-- Barrating -->
        <script src="/js/jquery.barrating.min.js?v=<%= Date.now() %>"></script>
        <!-- Jquery-ui -->
        <script src="/js/jquery-ui.min.js?v=<%= Date.now() %>"></script>
        <!-- Venobox -->
        <script src="/js/venobox.min.js?v=<%= Date.now() %>"></script>
        <!-- Nice Select js -->
        <script src="/js/jquery.nice-select.min.js?v=<%= Date.now() %>"></script>
        <!-- ScrollUp js -->
        <script src="/js/scrollUp.min.js?v=<%= Date.now() %>"></script>
        <!-- Main/Activator js -->
        <script src="/js/main.js?v=<%= Date.now() %>"></script>
        <script type="module" src="/js/query/login.js?v=<%= Date.now() %>"></script>
        <script type="module" src="/js/query/register.js?v=<%= Date.now() %>"></script>
    </body>

<!-- login-register31:27-->
</html>
