<!doctype html>
<html class="no-js" lang="zxx">

<!-- single-product-normal31:50-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= product.title %> | Hogar Luxe</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="description" content="Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.">
  <meta name="keywords" content="Custom branded gifts, Corporate gift solutions, Personalized branding items, Premium promotional products, Luxury custom merchandise, Business branding solutions, Unique brand merchandise, Customized corporate gifts, High-end promotional products, Personalized luxury gifts">
  <meta name="author" content="Benson Michael Owen">
  <meta name="language" content="en">
  <meta name="theme-color" content="#ffffff"> <!-- (For Chrome Mobile UI color) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <!-- Material Design Iconic Font-V2.2.0 -->

  <meta property="og:title" content="<%= product.title %> | Hogar Luxe Gifts">
<meta property="og:type" content="website"> <!-- Can be 'article', 'video', 'profile', etc. -->
<meta property="og:url" content="https://hluxegifts.com/product/<%= product.slug %>">
<meta property="og:image" content="<%=files[0].file_url %>">
<meta property="og:image:alt" content="<%= product.title %> | Hluxegifts">
<meta property="og:site_name" content="hluxegift">
<meta property="og:locale" content="en_US"> <!-- Adjust for different languages -->
  <meta property="og:description" content="<%= product.title %> | Hluxe gift.">
  <meta name="twitter:card" content="summary_large_image"> <!-- Can be 'summary', 'summary_large_image', 'app', or 'player' -->

  <meta name="twitter:title" content="<%= product.title %> | hluxegift.com">
<meta name="twitter:description" content="<%= product.title %> | Hluxegifts">

<meta name="twitter:image" content="<%=files[0].file_url %>">
<meta name="twitter:image:alt" content="<%= product.title %> hluxegift.com">
<meta name="twitter:site" content="@hluxegifts">
<meta name="twitter:creator" content="@hluxegifts">
<link rel="canonical" href="https://hluxegifts.com/product/<%= product.slug %>">
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "<%= product.title %> | Hogar Luxe Gifts",
    "description": "Elevate your brand with Hogar Luxe Gifts. We specialize in premium, customized corporate and personal branding solutions, crafting high-quality branded items that leave a lasting impression.",
    "url": "https://hluxegift.com",
    "image": "hhttps://res.cloudinary.com/dvm0bs013/image/upload/v1740038672/Screenshot_from_2025-02-20_09-02-02_ugplfk.png"
  }
  </script>
  <!--/metatextblock-->
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="/">
  <link rel="dns-prefetch" href="/">
  <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/favicon.png" media="(prefers-color-scheme: light)" />
  <link rel="icon" type="image/x-icon" sizes="32x32" href="/image/favicon.png media="(prefers-color-scheme: dark)" />
  <link rel="apple-touch-icon" type="image/png" href="/images/favicon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon.png"> <!-- Assets -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <!-- Material Design Iconic Font-V2.2.0 -->
  <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!-- Font Awesome Stars-->
  <link rel="stylesheet" href="/css/fontawesome-stars.css">
  <!-- Meanmenu CSS -->
  <link rel="stylesheet" href="/css/meanmenu.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- Slick Carousel CSS -->
  <link rel="stylesheet" href="/css/slick.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- Jquery-ui CSS -->
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <!-- Venobox CSS -->
  <link rel="stylesheet" href="/css/venobox.css">
  <!-- Nice Select CSS -->
  <link rel="stylesheet" href="/css/nice-select.css">
  <!-- Magnific Popup CSS -->
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <!-- Bootstrap V4.1.3 Fremwork CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Helper CSS -->
  <link rel="stylesheet" href="/css/helper.css">
  <!-- Main Style CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/css/responsive.css">
  <!-- Modernizr js -->
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <%- include("loader") %>

  <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  <!-- Begin Body Wrapper -->
  <div class="body-wrapper">
    <!-- Begin Header Area -->
    <%- include("header.ejs") %>
    <!-- Header Area End Here -->
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
      <div class="container">
        <div class="breadcrumb-content">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><%= product.title %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- content-wraper start -->
    <div class="content-wraper">
      <div class="container">
        <div class="row single-product-area">
          <div class="col-lg-5 col-md-6">
            <!-- Product Details Left -->
            <div class="product-details-left">
              <div class="product-details-images slider-navigation-1">
                <% for(let i=0; i<files.length; i++) { %>
                <div class="lg-image">
                  <img src="<%=files[i].file_url %>" alt="product image">
                </div>
                <% } %>

              </div>
              <div class="product-details-thumbs slider-thumbs-1">
                <% for(let i=0; i<files.length; i++) { %>
                <div class="sm-image">
                  <img src="<%=files[i].file_url %>" alt="product image thumb">
                </div>
                <% } %>


              </div>
            </div>
            <!--// Product Details Left -->
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="product-details-view-content sp-normal-content pt-60">
              <div class="product-info">
                <h2><%= product.title %></h2>
                <!-- <span class="product-details-ref">Reference: demo_15</span>
                                    <div class="rating-box pt-20">
                                        <ul class="rating rating-with-review-item">
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            <li class="review-item"><a href="#">Read Review</a></li>
                                            <li class="review-item"><a href="#">Write Review</a></li>
                                        </ul>
                                    </div> -->
                <div class="price-box pt-20">
                  <span class="new-price new-price-2">N <%= product.price.toFixed(2).toLocaleString() %></span>
                </div>
                <div class="product-desc">
                  <p>
                    <span><%= product.description %>
                    </span>
                  </p>
                </div>
                <div class="single-add-to-cart">
                  <div class="cart-quantity">

                    <a href="<%= contactLink %>" target="_blank"><button class="add-to-cart" type="button"><i class="fa fa-whatsapp"></i> Contact us</button>
                    </a>
                  </div>
                </div>
                <div class="product-additional-info">
                  <!-- <div class="product-social-sharing">
                                            <ul>
                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                            </ul>
                                        </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wraper end -->
    <!-- Begin Product Area -->
    <div class="product-area pt-40">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="li-product-tab">
              <ul class="nav li-product-menu">
                <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a></li>


              </ul>
            </div>
            <!-- Begin Li's Tab Menu Content Area -->
          </div>
        </div>
        <div class="tab-content">
          <div id="description" class="tab-pane active show" role="tabpanel">
            <div class="product-description">
              <span><%= product.description %></span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- Product Area End Here -->
    <!-- Begin Li's Laptop Product Area -->
    <section class="product-area li-laptop-product pt-30 pb-50">
      <div class="container">
        <div class="row">
          <!-- Begin Li's Section Area -->
          <div class="col-lg-12">
            <div class="li-section-title">
              <h2>
                <span>You Might also like</span>
              </h2>
            </div>
            <div class="row">

              <div class="product-active owl-carousel">

                <% for(let i =0; i<more.length; i++){ %>

                <div class="col-lg-12">
                  <!-- single-product-wrap start -->
                  <div class="single-product-wrap">
                    <div class="product-image">
                      <a href="/product/<%= more[i].slug %>">
                        <img src="<%= more[i].thumbnail %>" alt="<%= more[i].title %>">
                      </a>
                      <span class="sticker">New</span>
                    </div>
                    <div class="product_desc">
                      <div class="product_desc_info">
                        <div class="product-review">
                          <h5 class="manufacturer">
                            <a href="/category/<%= more[i].category %>"><%= more[i].category %></a>
                          </h5>

                        </div>
                        <h4><a class="product_name" href="/product/<%= more[i].slug%>"><%= more[i].title %></a></h4>
                        <div class="price-box">
                          <span class="new-price">N <%= more[i].price.toFixed(2).toLocaleString()%></span>
                        </div>
                      </div>
                      <div class="add-actions">
                        <ul class="add-actions-link">
                          <li class="add-cart active"><a href="<%= whatsapp %><%= more[i].slug %>"><i class="fa fa-whatsapp"></i> <b>Contact us</b></a></li>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- single-product-wrap end -->
                </div>
                <% } %>


              </div>
            </div>
          </div>
          <!-- Li's Section Area End Here -->
        </div>
      </div>
    </section>
    <!-- Li's Laptop Product Area End Here -->
    <!-- Begin Footer Area -->
    <%- include("footer.ejs")  %>
    <!-- Footer Area End Here -->
    <!-- Begin Quick View | Modal Area -->

    <!-- Quick View | Modal Area End Here -->
  </div>
  <!-- Body Wrapper End Here -->
  <!-- jQuery-V1.12.4 -->
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>

  <!-- Popper js -->
  <script src="/js/vendor/popper.min.js"></script>
  <!-- Bootstrap V4.1.3 Fremwork js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Ajax Mail js -->
  <script src="/js/ajax-mail.js"></script>
  <!-- Meanmenu js -->
  <script src="/js/jquery.meanmenu.min.js"></script>
  <!-- Wow.min js -->
  <script src="/js/wow.min.js"></script>
  <!-- Slick Carousel js -->
  <script src="/js/slick.min.js"></script>
  <!-- Owl Carousel-2 js -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Magnific popup js -->
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Isotope js -->
  <script src="/js/isotope.pkgd.min.js"></script>
  <!-- Imagesloaded js -->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <!-- Mixitup js -->
  <script src="/js/jquery.mixitup.min.js"></script>
  <!-- Countdown -->
  <script src="/js/jquery.countdown.min.js"></script>
  <!-- Counterup -->
  <script src="/js/jquery.counterup.min.js"></script>
  <!-- Waypoints -->
  <script src="/js/waypoints.min.js"></script>
  <!-- Barrating -->
  <script src="/js/jquery.barrating.min.js"></script>
  <!-- Jquery-ui -->
  <script src="/js/jquery-ui.min.js"></script>
  <!-- Venobox -->
  <script src="/js/venobox.min.js"></script>
  <!-- Nice Select js -->
  <script src="/js/jquery.nice-select.min.js"></script>
  <!-- ScrollUp js -->
  <script src="/js/scrollUp.min.js"></script>
  <!-- Main/Activator js -->
  <script src="/js/main.js"></script>
</body>

<!-- single-product-normal31:50-->

</html>